<div class="sign-in-div group">
  <div class="left-col">
    <h1>Sign In</h1>

    <form action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>Email<br>
        <input name="user[email]" type="text"><br>
      </label><br>
      <label>Password<br>
        <input name="user[password]" type="password"><br>
      </label><br>
      <input type="submit" value="Submit" class="btn btn-primary"><br>
    </form>
  </div>
  <div class="right-col">
    <p>Welcome to Chellooo!
      <br><br>
      Chellooo is an organizational tool, modeled off of <a href="http://www.trello.com">Trello</a>.
      <br><br>
      Go ahead and sign up, then make your own boards to get organized!
      <br><br>
      If you're not planning on sticking around, feel free to log in with the demo account by clicking the button below!</p>
      <%= button_to "Demo Account",
		{
			:controller => :sessions,
			:action => 'create',
			:user => {
				:email => 'demo@chellooo.com',
				:password => 'password'
			}
		}, {class: "submit-btn demo"} %>
  </div>
</div>
