<li>
  <span class='header'>Add boards, or invite other users!</span>
</li>
<li class='divider'></li>
<li>
  <a class='new-board' href='#'>
    <b>New Board...</b>
    <span class='add-item-description'>
      Make a new board!
      <br>
      Boards are areas for you to keep lists for all kinds of purposes.
      <br>
      Later, you can share your board to your coworkers and friends for collaborating!
    </span>
  </a>
</li>
<li class='divider'></li>
<li>
  <a class="invite-user" href="#">
    <b>Invite users to an existing board!</b>
    <span class="invite-user-description">
      Invite your friends or coworkers to view and edit your board with you!
      <br>
      Chellooo is great for keeping track of what it is that a team needs to get done to reach their goals.
      <br>
      Why do it alone?
    </span>
  </a>
</li>
