<li>
  <span class='header'>Add</span>
</li>
<li class='divider'></li>
<li>
  <a class='new-board' href='#'>
    <b>New Board...</b>
    <span class='add-item-description'>
      Make a new board!
      <br>
      Boards are areas for you to keep lists for all kinds of purposes.
      <br>
      Later, you can share your board to your coworkers and friends for collaborating!
    </span>
  </a>
</li>
