<form class="card-form">
  <div class="panel-heading">
    <input
      type="text"
      class="card-title-input bare-input"
      name="title"
      placeholder="">
  </div>
  <input type="submit" value="Add a card" class="btn btn-default">
</form>
