<div>
  <h1>Creating a new board</h1>
  <p>Use this form to create a new board!</p>

  <p>Boards can be used to track all kinds of things. Later, you can share your board to be tracked by multiple users.</p>
</div>

<div>
  <form>
    <div class="input-group">
      <label for="title">Title</label>
      <input type="text" name="board[title]" placeholder="My New Board">
    </div>

    <input type="submit">

  </form>
</div>