<form class="item-form">
  <input
    type="text"
    class="form-control bare-input"
    placeholder="Gotta do this thing!"
    name="title">

  <input type="submit" value="Add an item" class="btn btn-default">
</form>
