<form id="new-list-form">
  <input
    type="text"
    id="title"
    placeholder="List Title"
    name="title">
  <input
    type='submit'
    class="list-submit"
    value="<%= String.fromCharCode(43) %>">
</form>
