<div class="list-header-div">
  <h2 class="list-header"><%= list.escape('title') %></h2>
  <p class="list-desc"><%= list.escape('description') %></p>
</div>
<div class="card-list">

</div>
<div class="new-list-space">
</div>
<a href="javascript:void(0)" id="new-card">Add a new card</a>
